.selector {
    width: 150px;
    height: 37px;
}

.signup-button {
    text-align: center;
    width: 150px;
    margin: 12px;
   
}

.card {
    transition: 1.9s ease;
    margin-left: 12px;

}
.card:hover {
    transform: scale(1.1);

}

.video-code {
    margin-left: 50px;
}