.icon-about, .face, .git, .link, .pin {
    transition: .5s;
}

 .face:hover  {
    color: #3b5998;
  text-shadow: 0 0 5px #ffee10;
}
.git:hover  {
    color: #000;
}
.pin:hover  {
    color:  rgb(20, 20, 109) ;
}
.link:hover  {
    color:  #0e76a8 ;
}


.img-about {
    border-radius: 5px;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
}
.card-about {
    text-align: center;
    margin-top: 52px;
}
.card-code {
    text-align: center;
    margin-top: 52px;
}
.button-about {
    text-align: center;
}
.icon-about i{
 color: black;
 background-color: white;
 font-size: 30px;
 margin: 12px;

}

.icon-about, a {
   text-align: center;
}
.card-sigup {
    margin-left: 50px;
}

video {
    width: 600px;
    margin-top: 10px;
    margin-right: 40px;
    border-radius: 5px;
}

@media(max-width:447px) {
   video {
    width: 300px;
    margin-right: 100px;
    border-radius: 5px;
}
    }